<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Selector</title>
    <link rel="stylesheet" href="/static/css/choose_subject_styles.css">
</head>
<body>
    <div class="container">
        <button id="subjectButton">Choose your subject</button>
        <div id="subjectList" class="hidden">
            <button class="subject" data-subject="bengali">Bengali</button>
            <button class="subject" data-subject="english">English</button>
            <button class="subject" data-subject="math">Math</button>
        </div>
    </div>
    <script src="/static/js/choose_subject_scripts.js"></script>
</body>
</html>
